<div id="navg">
  <nav class="navbar" class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/carousel" href="/#"> <i class="fa fa-home" aria-hidden="true"></i> CAPS</a>
    <a class="navbar-brand" routerLink="/aboutUs" href="/footernav.component.html"><i class="fa fa-users"></i> About
      Us</a>
    <div class="navbar-expand mr-auto">

    </div>



    <button class="dropbtn" routerLink="/register">
     <b> Register </b></button>
    <div class="dropdown">
      <button class="dropbtn">
      <b> Login</b></button>
      <div class="dropdown-content">
        <a routerLink="/adminLogin">As Admin</a>
        <a routerLink="/login">As Student</a>
      </div>
    </div>

    <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Profile
              </button>
              <ul class="dropdown-menu dropdown-menu-right multi-level" role="menu" aria-labelledby="dropdownMenu">
                 <li class="dropdown-item"><a routerLink="/register" href="#"> Sign Up</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" href="#">Login</a>
                    <ul class="dropdown-menu">

                      <li class="dropdown-item"><a tabindex="-1" routerLink="/adminLogin" href="#">Login As Admin</a></li>

                      <li class="dropdown-item"><a href="#" routerLink="/login">Login As Student</a></li>
                    
                    </ul>
                  </li>
                </ul>
        
  </div> -->
  </nav>
</div>












<!-- <app-footernav></app-footernav> -->