
<div id="navg">
    <nav class="navbar" class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" routerLink="carousel" href="/#">Home</a>
      <a class="navbar-brand" routerLink="aboutUs" href="/footernav.component.html">About Us</a>
      <div class="navbar-expand mr-auto">
        
      </div>
      

          <hr>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Profile
              </button>
              <ul class="dropdown-menu dropdown-menu-right multi-level" role="menu" aria-labelledby="dropdownMenu">
                 <li class="dropdown-item"><a href="#">Sign Up</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-submenu">
                    <a  class="dropdown-item" tabindex="-1" href="#">Login</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a tabindex="-1" href="#">Login As Admin</a></li>
                      <li class="dropdown-item"><a href="#">Login As Student</a></li>
                    
                    </ul>
                  </li>
                </ul>
        
  </div>
    </nav>
  </div>
  











<!-- <app-footernav></app-footernav> -->