<body>
    <app-navbar></app-navbar>
    <br>
    <h2 style="margin-left: 360px;"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;Reset Password</h2>
    <div style="margin-left: 350px;">

        <form #passwordForm='ngForm' (ngSubmit)="onSubmit(passwordForm.value)">
            <div class="container">
                <div class="form-group style1">
                    <br>

                    <div class="form-group">
                        <label><i style="font-size:24px" class="fa">&#xf21b;</i>&nbsp; Current Password</label>
                        <input required type="password" #curPasswordRef='ngModel' class="form-control"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="curPasswordRef"
                            placeholder="Enter current password" ngModel>
                        <div *ngIf='curPasswordRef.errors && (curPasswordRef.touched || curPasswordRef.dirty)'
                            class="alert alert-danger">
                            <div [hidden]='!curPasswordRef.errors.required'>
                                please enter Password
                            </div>
                            <div *ngIf="curPasswordRef.errors.pattern"> Must contain at least one number and one
                                uppercase
                                and
                                lowercase letter, and at least 8 or more characters.</div>
                        </div>

                    </div><br>

                    <div class="form-group">
                        <label for="answer"><i style="font-size:24px" class="fa">&#xf21b;</i>&nbsp; New Password</label>
                        <input required type="password" name="passwordRef" #passwordRef='ngModel' class="form-control"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter new password" ngModel>
                        <div *ngIf='passwordRef.errors && (passwordRef.touched || passwordRef.dirty)'
                            class="alert alert-danger">
                            <div [hidden]='!passwordRef.errors.required'>
                                please enter Password
                            </div>
                            <div *ngIf="passwordRef.errors.pattern"> Must contain at least one number and one uppercase
                                and
                                lowercase letter, and at least 8 or more characters.</div>
                        </div>

                    </div><br>


                    <button class="btn btn-primary btn-sm" type="submit" value="Submit"
                        [disabled]='passwordForm.invalid'>Submit</button>
                </div>
            </div>
        </form>
        <div>
            <h3
                style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;color: red;margin-right: 50%;">
                {{message}}</h3>
        </div>
    </div>
</body>