<html>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
          <div class="contact-info float-left">
            <i class="icofont-envelope"></i><a href="mailto:collegepredictor@gmail.com">collegepredictor@gmail.com</a>
            <i class="icofont-phone"></i> +91 9843589830
          </div>
          <div class="social-links float-right">
            <a href="https://twitter.com/CollegeAdmiss14" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.facebook.com/College-Admission-Predictor-108563700891489/?modal=admin_todo_tour" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://www.instagram.com/college_admission_predictor/ " class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="skype"><i class="icofont-skype"></i></a>
            <a href="https://www.linkedin.com/in/collegeadmission-predictor-a239981ab/" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      </section>
    
      <!-- ======= Header ======= -->
      <header id="header">
        <div class="container">
    
          <div class="logo float-left">
            <h1 class="text-light"><a href="index.html"><span>CAP</span></a></h1>
           
          </div>
    
          <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
              <li class="active"><a routerLink="/mainHome">Home</a></li>
              <!-- <li><a href="#about">About Us</a></li> -->
            
              <!-- <li><a href="#team">Team</a></li> -->
              <li class="drop-down"><a >Login</a>
                <ul>
                  <li><a routerLink="/login">As user</a></li>
                
                  <li><a routerLink="/adminLogin">As Admin</a></li>
                 
                </ul>
              </li>
              <li><a routerLink="/register">Register</a></li>
              <!-- <li><a href="#contact">Contact Us</a></li> -->
            </ul>
          </nav><!-- .nav-menu -->
    
        </div>
      </header><!-- End Header -->
</html>
