<app-user-navbar></app-user-navbar>
<table cellspacing="2" align="center" >
    <tr style="align-content: center;background-color: rgb(48, 226, 12);">Colleges</tr>
    <tr>
       <th cellspacing="8">CollegeCode</th>
       <th style="padding: 10px;" cellspacing="8">CollegeName</th>
       <th style="padding: 10px;" cellspacing="8">State</th>
       <th style="padding: 16px;" cellspacing="8"> City</th>
       <th style="padding: 10px;" cellspacing="8">Address</th>
       <th style="padding: 10px;" cellspacing="8">ContactNumber</th>
       <th style="padding: 10px;">BranchCutoff</th>
    </tr>
    
    <tr *ngFor="let object of samples" style="padding: 16px;">
       <td style="padding: 14px;">{{object.collegeCode}}</td>
       <td style="padding: 16px;">{{object.collegeName}}</td> 
       <td style="padding: 16px;">{{object.state}}</td>
       <td style="padding: 16px;">{{object.city}}</td>
       <td style="padding: 16px;">{{object.address}}</td>
       <td style="padding: 16px;">{{object.contactNumber}}</td>
    <td  style="padding: 10px;">
    <li *ngFor="let recipient of object.branchCutoff | keyvalue">
      {{recipient.key}} --> {{recipient.value}}
  </li>
</td>
      
    </tr>  
    
    
 </table> 

