 .header {
    background-color: darken(#398B93, 5%);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
 }
 body{
    /* background-image: url(src/assets/images/91.jpg); */
    background-color: lighten(rgb(67, 119, 124), 30%);
    box-sizing: border-box; 
    background-size: cover;
    background-position: center;
    height: 100%;

    
 }
 
 tr:nth-child(even) {background-color: #398B93,5%;}
 tr:nth-child(odd) {background-color: #f2f2f2;}
 input[type=text], input[type=email], input[type=number] {
   width: 50%;
   padding: 10px;
   /* margin: 5px 22px 0; */
   /* display: inline-block; */
   border: none;
   /* background: #f1f1f1; */
   align-content: center;
 }

 select{
   align-items: center;
   width: 15%;
   padding: 10px;
   display: inline-block;
   border: none;
   background: #f1f1f1;
 }
 
 /* table{
   width: 60%;
   border-collapse: collapse;
   
   
   border-left: 1px solid;
   border-right: 1px solid;
   border-top: 1px solid;
}
th,td{
   border: 1px solid;
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid;
 
} */
 /* tr:nth-child(even) {background-color: #398B93,5%;}
tr:nth-child(odd) {background-color: #f2f2f2;}  */

 