<body>
    <app-user-navbar></app-user-navbar>
    <table align="center" class="table table-striped" [mfData]="samples" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead style="font-size: 12px">
            <tr>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="collegeCode"><b>CollegeCode</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="collegeName"><b>CollegeName</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="state"><b>State</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="city"><b>City</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="address"><b>Address</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6">
                        <mfDefaultSorter by="contactNumber"><b>ContactNumber</b></mfDefaultSorter>
                    </i></th>
                <th><i style="color:#fa07e6"><b>BranchCutoff</b></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of mf.data">
                <td>{{object.collegeCode}}</td>
                <td>{{object.collegeName}}</td>
                <td>{{object.state}}</td>
                <td>{{object.city}}</td>
                <td>{{object.address}}</td>
                <td>{{object.contactNumber}}</td>
                <td>
                    <li *ngFor="let recipient of object.branchCutoff | keyvalue">
                        {{recipient.key}} --> {{recipient.value}}
                    </li>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <br>
            <tr>
                <td>
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    <br>
</body>
<app-user-footer></app-user-footer>