<div id="navg">
    <nav class="navbar" class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" routerLink="/adminHome" ><i class="fa fa-home"aria-hidden="true"></i> Home</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="navbar-brand" routerLink="/viewCollege" href="#"><i class="fa fa-eye" aria-hidden="true"></i>  View Colleges</a>
          <a class="navbar-brand" routerLink="/addCollege" href="#"><i class="fa fa-university" aria-hidden="true"></i> Add Colleges</a>
          <a class="navbar-brand" routerLink="/viewStudents" href="#"><i class="fa fa-users" aria-hidden="true"></i> View Students</a>
          <a class="navbar-brand" routerLink="/viewFeedback" href="#"><i class="fas fa-comments"></i> View Feedback</a>
              
        </div>
      </div>
      <!-- <a in="logout" class="nav-item nav-link" style="color: red;" (click)="logout()" href="#">Logout</a> -->
      <div class="dropdown">
        <button class="dropbtn">
           Admin: Mahesh</button>
        <div class="dropdown-content">
          <a (click)="changePassword()">Change Password</a>
          <a  (click)="logout()">Logout</a>
        </div>
      </div>
    </nav>
  </div>
  