<div id="navg">
    <nav class="navbar" class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" routerLink="" href="/#">Home</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="" href="#">View Colleges</a>
          <a class="nav-item nav-link" routerLink="" href="#">Add Colleges</a>
          <a class="nav-item nav-link" routerLink="" href="#">View Students</a>
          <a class="nav-item nav-link" routerLink="" href="#">View Feedback</a>
              
        </div>
      </div>
      <!-- <a in="logout" class="nav-item nav-link" style="color: red;" (click)="logout()" href="#">Logout</a> -->
      <div class="dropdown">
        <button class="dropbtn">Mahesh</button>
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </div>
    </nav>
  </div>
  