<app-navbar></app-navbar>
<table width = "100%" background="../assets/images/91.jpg">

    <div class="m-5 myContent">
        <div class="container">
          <form #updateForm="ngForm" (ngSubmit)="submitUpdateForm(updateForm)" >
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  <h4 style="text-align:center">Update College Details</h4>
                  <h6 style="text-align:right;color:dimgrey;font-size:small"><marquee direction="left" width="100%" style="color:black;">All Fields are Mandatory</marquee></h6>
                  <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>College Id</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="collegeId" #collegeId="ngModel" [(ngModel)]="college.collegeId" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="collegeId.errors && (collegeId.dirty || collegeId.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!collegeId.errors.required">
                      <p>&nbsp;College Id is mandatory</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>College Name</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="collegeName" #collegeName="ngModel" [(ngModel)]="college.collegeName" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="collegeName.errors && (collegeName.dirty || collegeName.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!collegeName.errors.required">
                      <p>&nbsp;Name is mandatory</p>
                    </div>
                  </div>
                </div>
      
                <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>Address</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="address" #address="ngModel" [(ngModel)]="college.address" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="address.errors && (address.dirty || address.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!address.errors.required">
                      <p>&nbsp;Address is mandatory</p>
                    </div>
                  </div>
                </div>
      
                <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>Location</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="location" #location="ngModel"  [(ngModel)]="college.location" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="location.errors && (location.dirty || location.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!location.errors.required">
                      <p>&nbsp;Location is mandatory</p>
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>City</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="city" #city="ngModel" [(ngModel)]="college.city" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="city.errors && (city.dirty || city.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!city.errors.required">
                      <p>&nbsp;City is mandatory</p>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col" style="text-align:left">
                    <label>Contact Number</label>
                  </div>
                  <div class="col; input-group">
                    <input type="text" name="contactNumber" #contactNumber="ngModel" [(ngModel)]="college.contactNumber" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)" style="text-align:left; padding-top:5px; color:red;">
                    <div [hidden]="!contactNumber.errors.required">
                      <p>&nbsp;Contact Number is mandatory</p>
                    </div>
                  </div>
                </div>
    
                <div class="col" style="text-align:left">
                  <label>Departments</label>
                </div>
                <h6 style="text-align:right;color:dimgrey;font-size:small">While updating all department details will be lost. Please update complete departments details</h6>
                <div class="form-check " *ngFor="let dept of departmentList,let index=i">
                  <input type="checkbox"  value="{{dept.name}}" name="dept.name" (change)="departmentChange($event)">
                   {{dept.name}}
                </div> 
                <div class="col" style="text-align:left">
                  <label>Previous Year Cutoff</label>
                </div>
                <div class="form-check" *ngFor="let dept of selectedDepartment,let index=i">
                   {{dept}}
                   <input type="number" name="cutoff" #cutoff="ngModel" (change)="cutoffChange($event)" class="form-control" ngModel required>
                </div> 
    
                <div class="form-group" style="text-align:center">
                  <button type="submit" style="font-size: 25px"  [disabled]="!updateForm.form.valid" class="btn btn-default">Submit</button>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
            <div *ngIf="showDiv" style="color:red;text-align:center;">
              <br />
              {{msg}}
              {{errorMsg}}
            </div>
            </div>
          </form>
        </div>
      </div>
      </table>
    
