<app-navbar></app-navbar>

<div >
    <form>

      <form class="navbar-form navbar-center" action="/action_page.php">
        <div class="input-group">
          <input type="text" class="form-control" placeholder=" &#61442; Search" id="search" [(ngModel)]="searchText"
            name="search">

          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <br>
      <br>

      <table class="table table-striped" border="2"  cellspacing="2px" cellpadding="2px">

        <tr>
          <th>Phone Num</th>
          <th>Feedback</th>
          
        </tr>

        <tr id="userBooking" *ngFor="let c of feedbackData | filter:searchText ;let i=index">
          <td>{{c.phoneNo}}</td>
          <td>{{c.feedback}}</td>
          
      </table>
      <!-- <pagination-controls align="center" (pageChange)="pageChanged($event)"></pagination-controls> -->


    </form> 
  </div>