<app-user-navbar></app-user-navbar>
<!----Feedback HTML--------------------------->
<body> 
    <br><br>
    
    <div class = "container">
    <h2 class = "heading"> Your Feedback</h2>
    <h3 style="text-align: center;">We would like your feedback to improve our website</h3>
    <br>
    <h4><p style="text-align: center;" > What is your opinion of this page??</p></h4>
    <br>
    <div class="buttons">
        <ul class="list-unstyled" style="padding-left: 30%;">
            <li><a href="#"><i class="far fa-grin-hearts" style='font-size:58px;color:yellow'></i></a></li>
            <li><a href="#"><i class="far fa-laugh" style='font-size:58px;color:yellow'></i></a></li>
            <li><a href="#"><i class="far fa-smile" style='font-size:58px;color:yellow'></i></a></li>
            <li><a href="#"><i class="far fa-meh" style='font-size:58px;color:yellow'></i></a></li>
            <li><a href="#"><i class="far fa-frown" style='font-size:58px;color:yellow'></i></a></li> 
        </ul>
    </div>
    <br><br><br>
    <hr>
    
    <div class ="row">
    
    <div class = "col-md-6">
    <form>
        <input type="Text" name="text" placeholder="Your Name" class ="form-control"> 
        <br>
        <input type="Email" name="Email" placeholder="Your email" class ="form-control">
        <br>
        <textarea rows="6" placeholder="Please leave your feedback" class ="form-control"></textarea>
        <br>
          <button align="center" class=" btn btn-info">Submit</button>
        <br><br>
    </form>
    </div>
    
    </div>
    </div>
    </body>
