body{
    background-image: url(src\assets\images\admin2.jpg);
    background-size: 70%;
    background-position: center;
    height: 100vh;
    
 }
 /* body{ 
    background-image: url(src\assets\images\admin2.jpg);
    background-size: 70%;
    background-position: center;
    height: 100vh;
    }  */