table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-content: center;
    /* margin-top: 4%; */
    margin-right: 22%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    
  }
  td{
    background-color: lightblue;
    color: black;
    padding: 8px;
  }
  th{
    background-color: black;
    color: white;
    padding: 12px;
  }
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  body{
    background-image: url(src\assets\images\students7.jpg);
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
 
    
 }
  /* table {
    margin: 5px 22px 5px;
    width: 100%;
  }
.table1{
    margin: 5px 22px 0px;
    width: 20%;
}
  th.mat-sort-header-sorted {
    color: black;
  }

 
input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  select{
      align-items: center;
    width: 60%;
    padding: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } */