<app-navbar></app-navbar>

<table style="width: 100%;" background="../assets/images/98.jpg">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  <div class="input-group">
    <h5>Search :&nbsp;</h5>
    <input class="form-control-input" style="text-align:right;" align="center" type="text" [(ngModel)]="search">
  </div>
  <br/>
  
  <table width=97%; border="0.5" >
  <tr class="row">
    <td class="column" *ngFor="let clg of CollegesList | filter:search,let i =index"  >
      
  <igx-card>
    <div>
        <igx-card-header>
            
            <h3 igxCardHeaderTitle>College Code : {{clg.collegeCode}}</h3>
            <h3 igxCardHeaderTitle>College Name : {{clg.collegeName}}</h3>
           
            <p igxCardHeaderSubtitle>Address : {{clg.address}}&nbsp; , {{clg.state}}</p>
            <h5 igxCardHeaderSubtitle>{{clg.city}}</h5>
            <p igxCardHeaderSubtitle>Contact No : {{clg.contactNumber}}</p>
           
        </igx-card-header>
        <details>
          <summary><p  igxCardHeaderTitle>Departments - Cutoff</p></summary>
        <igx-card-content>
          
            <!-- <hr width="100%">
            <igx-card-header>
              <p  igxCardHeaderTitle>Departments - Cutoff</p> <hr>
            </igx-card-header> -->
            
                  <div class="table table-striped"  *ngFor="let d of clg.branchCutoff | keyvalue">
                    {{d.key}}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{d.value}} <br>
                  </div>
        </igx-card-content>
    </details>
        
            <button igxButton="icon" style="text-align: center;" class="btn btn-info" igxRipple (click)="updateCollege(clg)" igxRippleCentered="true">
                Update
            </button>&nbsp;&nbsp;&nbsp;
            <button igxButton="icon" class="btn btn-danger" igxRipple (click)="deleteCollege(clg,i)" igxRippleCentered="true">
                Delete
            </button>
        
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </igx-card>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
  </tr>
  <p>Restricted size with rotation:</p>
  <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>   </table>
  </table>
  

  <!-- <app-user-footer></app-user-footer> -->
