<body>
    <!-- <app-homenav></app-homenav> -->
    <app-home-nav></app-home-nav>

    <h2 style="margin-left: 360px;"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;Reset Password</h2>
    <div style="margin-left: 350px;">
        <br>
        <form #userForm='ngForm' (ngSubmit)="onSubmit(userForm.value)">
            <div class="container">
                <div class="form-group style1">


                    <label for="answer"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; Phone Number</label>
                    <input required type="text" #phoneRef='ngModel' ngModel pattern="[1-9][0-9]{9}" class="form-control"
                        name="mobile" placeholder="Enter Valid Mobile Number" ngModel>
                    <div *ngIf='phoneRef.errors && (phoneRef.touched || phoneRef.dirty)' class="alert alert-danger">
                        <div [hidden]='!phoneRef.errors.required'>
                            please enter your phone number
                        </div>
                        <div [hidden]='!phoneRef.errors.pattern'>
                            phone no should be of 10 digits
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="securityQuestion"> <i class="fa fa-question-circle" aria-hidden="true"></i>
                            &nbsp;Security Question</label>
                        <select required class="form-control" #questionRef='ngModel' name="securityquestion" ngModel>


                            <option value="" disabled selected hidden>Select a question</option>
                            <option>What is your favourite dish </option>
                            <option>What is your favourite location </option>
                        </select>
                        <div *ngIf='questionRef.errors && (questionRef.touched || questionRef.dirty)'
                            class="alert alert-danger">
                            <div [hidden]='!questionRef.errors.required'>please select question</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="answer"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;Answer</label>
                        <input required type="text" #answerRef='ngModel' pattern="[A-Za-z\s]{3,}" class="form-control"
                            name="answer" placeholder="Enter Answer" ngModel>
                        <div *ngIf='answerRef.errors && (answerRef.touched || answerRef.dirty)'
                            class="alert alert-danger">
                            <div [hidden]='!answerRef.errors.required'>
                                please Enter Correct Answer
                            </div>
                            <div [hidden]='!answerRef.errors.pattern'>
                                Answer should be only alphabets with more than 3 characters
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="answer"><i style="font-size:24px" class="fa">&#xf21b;</i>&nbsp; New Password</label>
                        <input required type="password" #passwordRef='ngModel' class="form-control"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" placeholder="Enter password"
                            ngModel>
                        <div *ngIf='passwordRef.errors && (passwordRef.touched || passwordRef.dirty)'
                            class="alert alert-danger">
                            <div [hidden]='!passwordRef.errors.required'>
                                please enter Password
                            </div>
                            <div *ngIf="passwordRef.errors.pattern"> Must contain at least one number and one uppercase
                                and
                                lowercase letter, and at least 8 or more characters.</div>
                        </div>

                    </div><br>


                    <button class="btn btn-primary btn-sm" type="submit" value="Submit"
                        [disabled]='userForm.invalid'>Submit</button>
                </div>
            </div>
        </form>
        <div>
            <h3
                style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;color: red;margin-right: 50%;">
                {{message}}</h3>
        </div>
    </div>
</body>