<body>
    <app-user-navbar></app-user-navbar>
    <h3 style="text-align:center"><strong> Predicted Colleges </strong></h3><br>
    <div style="margin-left: 5%;" *ngIf=a>

        <form>
            <label style="color:#4807fa" for="cars">Choose branch:</label>
            <select id="branch" name="branch" #branch="ngModel" (change)="selectBranch(selectedBranch)"
                [(ngModel)]="selectedBranch">
                <option value="CIVIL">CIVIL</option>
                <option value="MECH">MECH</option>
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="IT">IT</option>
            </select>
            <label style="font-size: 15px;color:#7007fa;margin-left: 1000px;" align="right">
                <strong> Number of Results : {{samples.length}}</strong> 
            </label>
        </form>
      
    </div>
    <div *ngIf=b>
        
        <table style="width: 90%;" class="table table-striped" align="center"  [mfData]="samples" #mf="mfDataTable" [mfRowsOnPage]="4" >
            <thead style="font-size: 12px">
                <tr>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="collegeCode"><b>College Code</b></mfDefaultSorter>
                    </th>
                    <th style="color:#4807fa" >
                            <mfDefaultSorter by="collegeName"><b>College Name</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="state"><b>State</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="city"><b>City</b></mfDefaultSorter>
                       </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="address"><b>Address</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="contactNumber"><b>Contact Number</b></mfDefaultSorter>
                       </th>
                    <th style="color:#4807fa"><b>Branch Cutoff %</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of mf.data">
                    <td>{{object.collegeCode}}</td>
                    <td>{{object.collegeName}}</td>
                    <td>{{object.state}}</td>
                    <td>{{object.city}}</td>
                    <td>{{object.address}}</td>
                    <td>{{object.contactNumber}}</td>
                    <td>
                        <div *ngFor="let recipient of object.branchCutoff | keyvalue">
                        <div *ngIf="selectedBranch == recipient.key">
                            <b>{{recipient.key}} -- {{recipient.value}}</b>
                        </div>
                    </div>
                    </td>
                </tr>
            </tbody>
            <mfBootstrapPaginator></mfBootstrapPaginator>

        </table>
      

    </div>

<div *ngIf="samples.length !=0">
    <div *ngIf=c>
       <br>
        <table style="width: 95%;" align="center" class="table table-striped" [mfData]="samples" #mf="mfDataTable" [mfRowsOnPage]="5">
            
            <thead style="font-size: 12px">
                <tr>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="collegeCode"><b>College Code</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="collegeName"><b>College Name</b></mfDefaultSorter>
                  </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="state"><b>State</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="city"><b>City</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="address"><b>Address</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa">
                            <mfDefaultSorter by="contactNumber"><b>Contact Number</b></mfDefaultSorter>
                        </th>
                    <th style="color:#4807fa"><b>Branch Cutoff %</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of mf.data">
                    <td>{{object.collegeCode}}</td>
                    <td>{{object.collegeName}}</td>
                    <td>{{object.state}}</td>
                    <td>{{object.city}}</td>
                    <td>{{object.address}}</td>
                    <td>{{object.contactNumber}}</td>
                    <td>
                        <div *ngFor="let recipient of object.branchCutoff | keyvalue">
                            {{recipient.key}} -- {{recipient.value}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <br>
                <tr>
                    <td>
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

    <div style="height: 400px;" align="center" *ngIf="samples.length ==0">
        <h4 style="color: red;">No predicted Colleges Found for the selected branch</h4>
    </div>

</body>
<app-user-footer></app-user-footer>