 
 tr:nth-child(even) {background-color: #398B93,5%;}
 tr:nth-child(odd) {background-color: #f2f2f2;}

 body{
    background-image: url(src/assets/images/image3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
 }