<body>
    <app-user-navbar></app-user-navbar>

    <div align="center" *ngIf=a>

        <form>
            <label for="cars">Choose a branch:</label>
            <select id="branch" name="branch" #branch="ngModel" (change)="selectBranch(selectedBranch)"
                [(ngModel)]="selectedBranch">
                <option value="CIVIL">CIVIL</option>
                <option value="MECH">MECH</option>
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="IT">IT</option>
            </select>
            <br>
        </form>

    </div><br>
    <div *ngIf=b>
        <div style="font-size: 15px;color:#07fa6c;margin-right: 15px;" align="right">
          <strong> Number of Results : {{samples.length}}</strong> 
        </div>
        <table class="table table-striped" align="center"  [mfData]="samples" #mf="mfDataTable" [mfRowsOnPage]="5" >
            <thead style="font-size: 12px">
                <tr>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="collegeCode"><b>CollegeCode</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="collegeName"><b>CollegeName</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="state"><b>State</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="city"><b>City</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="address"><b>Address</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="contactNumber"><b>ContactNumber</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6"><b>BranchCutoff</b></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of mf.data">
                    <td>{{object.collegeCode}}</td>
                    <td>{{object.collegeName}}</td>
                    <td>{{object.state}}</td>
                    <td>{{object.city}}</td>
                    <td>{{object.address}}</td>
                    <td>{{object.contactNumber}}</td>
                    <td>
                        <div *ngFor="let recipient of object.branchCutoff | keyvalue">
                        <li *ngIf="selectedBranch == recipient.key">
                            <b>{{recipient.key}} --> {{recipient.value}}</b>
                        </li>
                    </div>
                    </td>
                </tr>
            </tbody>
            <mfBootstrapPaginator></mfBootstrapPaginator>

        </table>
      

    </div>


    <div *ngIf=c>
        <div style="font-size: 15px;color:#07fa6c;margin-right: 15px;" align="right">
            <strong> Number of Results : {{samples.length}}</strong> 
          </div><br>
        <table align="center" class="table table-striped" [mfData]="samples" #mf="mfDataTable" [mfRowsOnPage]="5">
            
            <thead style="font-size: 12px">
                <tr>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="collegeCode"><b>CollegeCode</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="collegeName"><b>CollegeName</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="state"><b>State</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="city"><b>City</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="address"><b>Address</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6">
                            <mfDefaultSorter by="contactNumber"><b>ContactNumber</b></mfDefaultSorter>
                        </i></th>
                    <th><i style="color:#fa07e6"><b>BranchCutoff</b></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of mf.data">
                    <td>{{object.collegeCode}}</td>
                    <td>{{object.collegeName}}</td>
                    <td>{{object.state}}</td>
                    <td>{{object.city}}</td>
                    <td>{{object.address}}</td>
                    <td>{{object.contactNumber}}</td>
                    <td>
                        <li *ngFor="let recipient of object.branchCutoff | keyvalue">
                            {{recipient.key}} --> {{recipient.value}}
                        </li>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <br>
                <tr>
                    <td>
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>



</body>
<app-user-footer></app-user-footer>