<div class = "page-content">

</div>

<!----Footer--------------------------->
<div class= "footer">
    <div class= "footer-content"> 
        <div class = "col-md-6">
            <p class="icon"><i class="fa fa-map-marker"> &nbsp; &nbsp; 5th Main, Whitefield, City Bangalore, India </i></p>
            <p class="icon"><i class="fa fa-phone"> &nbsp; &nbsp; +919876543210 </i></p>
            <p class="icon"><i class="fa fa-envelope"> &nbsp; &nbsp; collegeproject@gmail.com</i></p>
        </div>
    
        <div class = "col-md-1" ></div>

    <div class = "col-md-5">
        <h4 style="text-align: left;">We are Social now</h4>
            <div class="socialmedia">
                    <ul class="list-unstyled">
                            <li><a href="https://facebook.com/login"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/login"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://linkedin.com/login"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://whatsapp.com"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="https://accounts.snapchat.com/accounts/login"><i class="fab fa-snapchat"></i></a></li>
                    </ul>
            </div>
    </div>
    </div>
        <div class="footer-bottom">© 2020 Copyright:
            <a href="https://abc.com/"> collegeproject.com</a>
        </div>
</div>

